
</div>

  <!-- footer -->
  <footer>
    <div class="footer-padding">
		  <div class="footer">

        <a href="https://github.com/keskhanal"><i class="social-icon fab fa-github"></i></a>
				<a href="https://www.linkedin.com/in/keshavkhanal"><i class="social-icon fab fa-linkedin"></i></a>
				<a href="https://www.instagram.com/keskhanal"><i class="social-icon fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/keskhanal1234"><i class="social-icon fab fa-facebook"></i></a>
        
		    <p id="copyright">Copyright © Keshav khanal 2019 </p>
      </div>
    </div>
	</footer>

</body>
</html>
