.container-fluid {
    padding: 70px 50px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #f1f1f1;
}
.navbar-nav  li a:hover {
    color: #240041 !important;
  font-size: 105%;
}

/* footer section  */
.footer {
    bottom: 0%;
    width: 100%;
    position: absolute;
    padding: 1% 10%;
    background-color:#f6f5f5;
    color: #103c42;
    text-align: center;
  }
  .social-icon{
    margin: 1% 3%;
    font-size: 2rem;
  }

  .post_button{
    background-color: #5ca0d3;
    margin-top: 0.5rem;
    border-radius: 2px;
   
  }


  .contact_bg{
    background-image: url("/images/contact.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .about_bg{
    background-image: url("/images/keshav.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  